.homeContainer {
	margin:16rem 0 0 0;
	padding:1rem;
	background-color:rgba(255,255,255, .8);
	display:flex;
	flex-flow:column;
	align-items:center
}

.homeContainer h3 {
	padding:.5rem 0;
	font-family:var(--font2);
	color:var(--vert3)
}

.blocCol>ul:first-child {justify-content:center}

.blocCol>ul:first-child, .blocCol>div>div>div , .blocCol>div>div:last-child {
	margin:0 0 16rem 0
}

.blocCol>div>div>div>h3 , .blocCol>div>div:last-child h3 {
	margin:0 0 2rem 0;
	text-align:center;
	font-style:normal;
	font-weight:var(--font-weight);
	font-size:var(--highlight-font-size);
	line-height:var(--highlight-font-size)
}

.blocMain {
	display: flex;
	flex-flow: column;
	align-items: center
}

.blocMain p, .blocMain p a, .blocMain li {
	font-weight:var(--font-weight);
	font-size:var(--highlight-font-size);
	line-height:var(--highlight-line-height) + 0.5rem
}

.projectsList {
	display:flex;
	flex-flow:row wrap;
	align-items:center;
	justify-content:space-evenly;
	gap:2rem
}

.projectsList img {
	margin:0;
	padding:0;
	width:100%;
	max-width:640px
}

.projectsList {list-style:none}

@media all and (max-width:1024px) {

	.blocMain p, .blocMain p a, .blocMain li {
		font-weight:var(--font-weight);
		font-size:1.25rem;
		line-height:var(--line-height) + 0.5rem
	}

}


@media all and (max-width:750px) {

	.blocCol>div>div>div h3 , .blocCol>div>div:last-child h3 {
		text-align: center;
		font-weight:var(--font-weight);
		line-height:calc(var(--highlight-line-height));
		font-size:calc(var(--highlight-font-size) - 0.5rem)
	}

	.blocCol p {padding:0 .5rem}

	.projectsList img {max-width:440px}

	.blocMain h3{padding:0 1rem}
	.blocMain {padding:0 1rem}
	.blocMain p, .blocMain p a, .blocMain li { 
		line-height:calc(var(--highlight-line-height) + 1.25rem);
		font-size:calc(var(--highlight-font-size) - 0.5rem)
	}
	.blocMain ul {list-style: none;padding: 0;margin: 0; text-indent: 0;}
	.projectsList { padding:2rem 0 0 0 }

}